@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-position: center;
    font-family: 'Georama', sans-serif;
}

.cartBox {
    width: 1480px;
    height: 520px;
    background: rgb(255, 255, 255);
    top: 50%;
    left: 42%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
}

.totalBox {
    width: 300px;
    height: 100px;
    background: rgb(255, 255, 255);
    top: 22.8%;
    right: 3%;
    position: absolute;
    box-sizing: border-box;
    padding: 30px 30px;
}

.total {
    color:black;
    font-family: 'Georama', sans-serif;
    position: absolute;
    left: 40%;
    top: -20%;
}

.shoppingCart {
    color: black;
    font-family: 'Georama', sans-serif;
    left: 2%;
    top: 0%;
    position: absolute;
}

