@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

.items {
    height: 200px; 
    position: absolute; 
    bottom:-18%;
    width:100%; 
    background-color: #ffffff; 
}

.allItems {
    color:rgb(0, 0, 0);
    font-family: 'Georama', sans-serif;
    padding-left: 20px;
    position: absolute;
    left: 47%;
    top: -8%;
    font-weight:bold;
    /* text-shadow: 0.5px 0.5px 0 #000000, 1px 1px 0 #000000, 1.5px 1.5px 0 rgb(0, 0, 0), 2px 2px 0 rgb(0, 0, 0), 2.5px 2.5px 0 rgb(0, 0, 0); */
}

.product1 {
    position: absolute;
    scale: 40%;
    bottom: -30%;
    left: -5%;
}

.product2 {
    position: absolute;
    scale: 30%;
    bottom: -32%;
    left: -2%;
}
